@import './shared.css';

.card {
  width: 530px;
}

.social-interaction {
  display: flex;
  justify-content: space-between;
}

.social-interaction img {
  height: 13px;
}

.social-interaction * {
  margin-right: 5px;
}

.counters {
  display: flex;
  align-items: center;
}