* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-bg-color: #ffedd8;
  --main-text-color: #a47148;
}

body {
  display: flex;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.button {
  width: 150px;
  border: 2px solid var(--main-text-color);
  background-color: var(--main-bg-color);
  border-radius: 20px;
  color: var(--main-text-color);
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}