* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-bg-color: #ffedd8;
  --secondary-bg-color: #f3d5b5;
  --primary-text-color: #a47148;
  --secondary-text-color: #fff;
  --gray-text-color: #7f7f7f;
  --primary-black: 0, 0, 0;
  --alpha: 0.5;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.wrapper {
  display: flex;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 50px 50px 0 0;
  height: 100vh;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  height: 350px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
  background-image: linear-gradient(rgb(var(--primary-black), var(--alpha)), rgba(var(--primary-black), var(--alpha)));
  background-size: cover;
  background-position: center;
  color: var(--secondary-text-color);
}

.card h5 {
  font-size: 18px;
}

.card span {
  font-size: 14px;
}

.button {
  width: 150px;
  border: 2px solid var(--primary-text-color);
  background-color: var(--primary-bg-color);
  border-radius: 20px;
  color: var(--primary-text-color);
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.error-message {
  font-weight: bold;
  color: red;
}